	 <div class="elsewhere-footer-container">
		 <ul class="elsewhere-links cf">
	        <li>
	          <a class="link-mail" href="mailto:omrimorr@gmail.com">
	            <i class="fa fa-envelope-o"></i>
	          </a>
	        </li>
	        <li>
	          <a class="link-twitter" href="https://twitter.com/omrimorr" target="_blank">
	            <i class="fa fa-twitter"></i>
	          </a>
	        </li>
	        <li>
	          <a class="link-dribbble" href="https://dribbble.com/omri" target="_blank">
	            <i class="fa fa-dribbble"></i>
	          </a>
	        </li>
	        <li>
	          <a class="link-github" href="https://github.com/omrimor" target="_blank">
	            <i class="fa fa-github"></i>
	          </a>
	        </li>
		 </ul>
	 </div>

	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	 <script src="/js/main.js"></script>
  </body>
</html>
