	 <div class="elsewhere">
	   <ul>
	     <li><a class="link link-mail" href="#">Mail</a></li>
	     <li><a class="link link-twitter" href="https://twitter.com/omrimorr">Twitter</a></li>
	     <li><a class="link link-dribbble" href="https://dribbble.com/omri">Dribbble</a></li>
	     <li><a class="link link-github" href="https://github.com/omrimor">Github</a></li>
	   </ul>
	 </div>

	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	 <script src="../js/main.js"></script>
  </body>
</html>
