/* ==========================================================================
   Page layout
   ========================================================================== */

// html {
//    font-family: $font-family-body;
// }

body.page {
  text-rendering: optimizeLegibility;
  color: $body-text-color;
  font-family: $font-family-body;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-text-color;

  @media screen and (min-width: $breakpoint-desktop) {
  	font-size: 28px;
  	line-height: 1.6;
  }


  @media screen and (max-width: $breakpoint-phone) {
	font-size: 16px;
  }

}

