/* ==========================================================================
   Modules
   ========================================================================== */

.strip {
    width: 100%;
    height: 7px;
}

.wrapper {
 position: relative;
 margin: 0 auto;
 width: 90%;
 max-width: 40em;
 padding-left: 17em;

 @media screen and (min-width: $breakpoint-desktop) {
    padding-left: 13em;
    max-width: 36em;
 }

 @media screen and (max-width: $breakpoint-tablet) {
    padding-left: 0;
    max-width: 18em;
    text-align: center;
 }

}

.section-container {
    position: relative;
    margin-top: 5em;
}


#me {
    margin-top: 6em;
    margin-bottom: 3em;

    & img {
        position: absolute;
        left: 0;
        max-width: 100%;
        margin-bottom: 2em;

        @media screen and (min-width: $breakpoint-desktop) {
            left: 2em;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            position: static;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#work {
    margin-top: 6em;
}

.clip-circle {
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-title;
    font-weight: $bold-font;
    letter-spacing: -0.0625em;
    text-align: left;
}

h2 {
    font-size: 2.5em;

    @media screen and (max-width: $breakpoint-phone) {
        text-align: center;
    }

}

h3 {
    font-size: 1.375em;
    margin: 0;

    @media screen and (max-width: $breakpoint-tablet) {
        text-align: center;
    }
}

.wrapper-content {

    & li {
        margin-bottom: 2em;
    }

    & a {
        font-family: $font-family-title;
        font-size: 1.375em;
        font-weight: 700;
        color: inherit;
        text-decoration: none;
    }

    & a:hover {
        border-bottom: 1px solid #333;
    }

    & .meta {
        display: block;
        font-size: .8em;
        margin-bottom: 1em;

        &:after {
            content: "-";
        }
    }


    & p {
        margin-bottom: .2em;
    }
}

.wrapper-content .project {
    margin-bottom: 6em;

    & img {
        position: absolute;
        left: 0;

        @media screen and (min-width: $breakpoint-desktop) {
            left: 2em;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            position: static;
            display: block;
            margin: 0 auto 1em auto;
        }
    }

    & a {
        font-size: .8em;
        font-weight: 400;
        border-bottom: 1px solid #333;
        padding-bottom: .3em;
        margin-right: .6em;

        @media screen and (max-width: $breakpoint-phone) {
            font-size: 1em;
        }
    }
}

.article-title {
    margin: 0 10% 2em 10%;

    & h1.title-singlePage {
        margin-top: 1em;
        margin-bottom: 0;
        font-size: 5em;
        line-height: 1;
    }

    & .meta-singlePage {
        position: relative;
        font-family: $font-family-title;
        font-weight: $regular-font;
        font-size: 14px;
        display: block;

        & a {
            margin-right: .5em;
            color: inherit;
            padding-bottom: .3em;
        }

        & a:hover {
            color: inherit;
        }
    }
}

@media screen and (max-width: $breakpoint-phone) {
    #me,
    #posts,
    #work,
    #code {
        text-align: center;
        line-height: 1.5;
    }
}

.article {
    padding: 3em 0;
    line-height: 1.625em;
    text-align: center;

    .inner {
        width: 90%;
        position: relative;
        margin: 0 auto;
    }

    h2, h3, h4, h5, h6, blockquote {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
    }

    h2 {
        margin-top: 3em;
        margin-bottom: 1.5em;
        line-height: .8em;
    }

    h3 {
        font-size: 2em;
        margin-bottom: 1.5em;
        margin-top: 4.5em;
        text-align: left;
    }

    h4 {
        margin-bottom: .5em;
    }

    & p {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
        text-align: left;
        line-height: 1.8em;
        margin-bottom: 2em;

        @media screen and (max-width: $breakpoint-phone) {
            font-size: 16px;
        }
    }

    & ul {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
        text-align: left;
        line-height: 1.8em;
        margin-bottom: 2em;
        list-style-type: disc;
        padding: 0;

        li {
            margin-bottom: .5em;
        }

        @media screen and (max-width: $breakpoint-phone) {
            font-size: 16px;
        }
    }

    & p > a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #333;
    }

    & blockquote {
        display: block;
        left: -1em;
        font-family: $font-family-title;
        font-weight: 700;
        font-size: 3em;
        line-height: 1.1em;
        text-align: left;

        @media screen and (max-width: $breakpoint-tablet) {
            left: 0;
        }
    }

    & img {
        max-width: 98%;
        margin: 1em auto 4em auto;
    }

    & figure {
        text-align: center;
    }

    .images img,
    .images video {
        margin: 1em .5em 2.5em .5em;
    }

    .screen video {
        margin: 0;
    }

    & .caption {
        max-width: 350px;
        font-family: $font-family-title;
        font-size: .6em;
        margin: -4em auto 8em auto;

        @media screen and (max-width: $breakpoint-phone) {
            margin-top: 0;
            font-size: .75em;
        }
    }

    & .multiple-caption {
        display: block;
        margin-top: .1em;
    }

    & video.last-in-row {
        margin-right: 0;
    }

    & hr {
        margin: 0 auto;
        margin-top: 6em;
        margin-bottom: 6em;
        border: 0;
        width: 250px;
        height: 2px;
        background: #808080;
    }
}


.bio {
    color: #333;

    & a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #333;

    }
}

.btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.4em;
    padding: 2.13em 1.6667em 2em;
    max-width: 290px;
    font-size: 15px;
    color: #808080;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #808080;
    border-radius: 4px;
}

.elsewhere-bio-container {
    margin: 0;
    padding: 0;

    @media screen and (max-width: $breakpoint-tablet) {
        text-align: center;
    }
}

.elsewhere-footer-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 3em 0;
}

.elsewhere-links {
    display: inline-block;
    padding-top: 15px;

    @media screen and (max-width: $breakpoint-phone) {
        font-size: 1.5em;
    }

    & li {
        display: inline-block;
        float: left;
        margin-left: 15px;

        @media screen and (max-width: $breakpoint-phone) {
            margin-left: 25px;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    & a {
        color: $base-link;
    }

    & .link-github:hover {
        color: $black
    }

    & .link-dribbble:hover {
        color: $dribbble;
    }

    & .link-twitter:hover {
        color: $twitter;
    }

    & .link-mail:hover {
        color: $mail;
    }
}
