/* ==========================================================================
   Typography
   ========================================================================== */

/*import google font - Source Pro + PT Serif*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);


// Font families
// $font-family-body: 'PT Serif', serif;
$font-family-body: 'Merriweather', Georgia, serif;
$font-family-title: 'Quicksand', HelveticaNeue-Light, 'Helvetica Neue Light',
					'Helvetica Neue', Helvetica, Arial, sans-serif;

$light-font: 300;
$regular-font: 400;
$bold-font: 700;


// The base font-size, all other elements will adjust to this value
$font-size-base: 20px;
$font-size-small: .8em;

// Line height
$line-height-base: 1.3;

